doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/base.css")
    link(rel="icon", type="image/png", sizes="32x32", href="/image/logo.png")
    script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")
    title Lotus Shop | #{title}
  body
    header(class="bg-[#A7C1A8] w-[100%] h-[60px] px-[20px] fixed") 
        img(src="/image/logo.png" class="w-[60px]")
      
    main(class="p-[40px]")
      block content

    footer 

//- #819A91
//- #A7C1A8
//- #D1D8BE
//- #EEEFE0